.bg_image {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-attachment: fixed;
    background-color: #1A232E;
}

.gradient-01 {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    background: #ca00ff;
    filter: blur(305px);
  }
  
  .gradient-02 {
    position: absolute;
    width: 300px;
    height: 300px;
    top: -6rem;
    right: 0px;
    background: #7aebfb;
    filter: blur(195px)
  }