.active {
    color: white;
    background-color: rgb(111 125 154 / 56%);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
}